<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="./blocks/index.html">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	1. BLOCKS
</a>
<a href="./pinball/index.html">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	2. PINBALL
</a>
<a href="./mafia/index.html">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	3. MAFIA
</a>
<!-- partial -->
  
</body>
</html>
